body {
  margin-top: 30%;
  margin-left: 30%;
}

.loadingCircles {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
  animation: scaling 2.5s ease-in-out infinite;
}

@keyframes scaling {
  0%,
  100% {
    background-color: #30ffb7;
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
    background-color: #07deff;
  }
  50% {
    background-color: #0761ff;
    transform: scale(1);
  }
}

.loadingCircles:nth-child(0) {
  animation-delay: 0s;
}
.loadingCircles:nth-child(1) {
  animation-delay: 0.2s;
}
.loadingCircles:nth-child(2) {
  animation-delay: 0.4s;
}
.loadingCircles:nth-child(3) {
  animation-delay: 0.6s;
}
.loadingCircles:nth-child(4) {
  animation-delay: 0.8s;
}
.loadingCircles:nth-child(5) {
  animation-delay: 1s;
}
